@import '../../regular.less';

.homePage{
	.user-project{
		.base-title{
			margin-top:50px;
		}
	}
	.project-platform{
		height:388px;
		border:1px solid #e8e8e8;
		border-radius:3px;
		&:nth-child(1){
			margin-right:10px;
		}
		&:nth-child(2){
			margin-left:5px;
			margin-right:5px;
		}
		&:nth-child(3){
			margin-left:10px;
		}
		img{
			width:100%;
		}
		ul{
			padding-bottom:19px;
			border-bottom:1px solid #f3f3f3;
		}
		li{
			color:#999;
			&:first-child{
				margin-top:3px;
			}
			padding-top:3px;
			padding-bottom:3px;
			span{
				margin-right:8px;
			}
		}
	}
	.platform-container{
		padding:13px;
		.platfrom-entrance{
			width:68%;
			height:40px;
			margin:20px auto 0;
			border-radius:6px;
			background-color:#222;
			line-height:40px;
			text-align:center;
			background-color:@darkenBlue;
			color:#eee;
			.hoverColor(@darkenBlue);
			.ent-detail{
				font-size:18px;
				letter-spacing:1px;
			}
			i{
				margin-right:5px;
				transform:translateY(1px);
			}
		}
	}
	.project-tab{
		margin-top:25px;
		li{
			border-radius:2px;
			&.ant-pagination-item-active{
				background-color:@darkenBlue;
				border-color:@darkenBlue;
			}
		}
	}
}
