.myMenuList{
	position:fixed;
	width:150px;
	top:0;
	left:0;
	background-color:#fff;
	box-shadow:0 0 2px rgba(0,0,0,.2);
	border-radius:4px;
}
.myMenuList li{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #d8d8d8;
	text-align:center;
	cursor:pointer;
}
.myMenuList li:hover{
	background-color:#222;
	color:#fff;
}