body{
  font-family:"Microsoft YaHei";
  overflow:hidden;
}
#root,.adminView,.app-Box{
	width:100%;
	height:100%;
}
.MyAdmin,
.MyAdmin .ant-row,
.MyAdmin .ant-row>div{
	height:100%;
}
.MyAdmin .ant-row>.ant-col-20{
	background-size:cover;
}
.viewWrapper{
	width:100%;
	height:100%;
}